*.iws
*.launch
.externalToolBuilders/
.DS_Store
.idea/
.nb-gradle/
.project
.settings/
atlassian-ide-plugin.xml
build/
dist/
nbactions.xml
nbbuild/
nbdist/
nbproject/private/!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
*.pidb
*.resources
*.sln.docstates
*.suo
*.user
*.userosscache
*.userprefs
*.usertasks
.vs/
.vscode/*
test-results/


__MACOSX/
nbproject/private/
!.vscode/launch.json
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
bld/
[Bb]in/
[Oo]bj/
packages/
*.nupkg
*.trx
